%h3 [#{@question.score}] #{@question.question}

%div
  -@answers.each do |a|
    = render :partial => 'shared/voting', :locals => {resource: a}
    %p= a.answer

%br
=link_to "Post an answer", new_question_answer_path(@question), :class => "btn btn-large btn-danger"

