%h3= @question.score
= @question.question
%div
	- @answers.each do |a|
		%p= a.answer
		%p= a.user.username

%br
=link_to "Post an answer", new_question_answer_path(@question), :class => "btn btn-large btn-danger"
=link_to "Upvote", vote_question_path(@question, value: 1), method: "post"
=link_to "Downvote", vote_question_path(@question, value: -1), method: "post"

