.profile
  .main
    %h1= @user.username
  .left_section
    %img{:src => "http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(user.email) %>" }
    followers?
    etc
  .right_section
    .questions
      questions
    .answers
      answers
