
%ul
-answers.each do |answer|  
  %li
    %b Question:
    =answer.question.question
    =render :partial => 'shared/voting', :locals => {resource: answer.question}
  %ul  
    %li.no-bullets 
      %b Answer:
      %span=answer.answer
      =render :partial => 'shared/voting', :locals => {resource: answer}
  %br


