

%ul Question
-questions.each do |question|
  %li=question.question
  =render :partial => 'shared/voting', :locals => {resource: question}
  %br
  -if question.answers.empty?
    No answers available
  -else
    %ul Answers
    -question.answers.each do |answer|
      %li=answer.answer
      =render :partial => 'shared/voting', :locals => {resource: answer}
    %br
