@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  margin-top: -10px;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#wrapper {
  margin-top: 0px;
}

.header { 
  background-color: black;
}

.nav {
  float: right;
  margin-right: 50px;
  margin-top: -41px;
}

.nav a {
  color: white;
  font-size: 24px;
}

.navbar {
  margin-bottom: 0px;
}

.login {
  width: 125%;
  z-index: 1;
  background: url('/assets/golden_gate.jpg');
  margin-top: -63px;
  margin-left: -145px;
  height:800px;
}

.sorting {
  border-bottom: 1px solid black;
  width: 40%;
  padding-bottom: 15px;
}

.sorting a {
  padding-right: 25px;
}

.questions-index {
  font-size: 24px;
  list-style: none;
}

.questions-index li {
  background-color: #6997D3;
  width: 70%;
  padding: 20px;
  margin-bottom: 10px;
  height: 100px;
  margin-left: -25px;
}

.vote_count {
  border: 1px solid black;
  padding: 3px; 
}

.answer_count {
  border: 1px solid black;
  padding: 3px;
}

.voting_index {
  margin-top: 30px;
  float: left;
}

.voting_index a {
  text-decoration: none;
  color: white;
}

.question_text {
  line-height: 30px;
}

button.best_answer_button {
  float: right;
  margin-right: 340px;
  margin-top: -62px;
}

.inactive {
  display: none;
}

.best_answer {
  padding: 30px;
  background-color: pink;
  margin-bottom: 10px;
}


/* forms */

.form {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  margin-top: -600px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px
}


.form input {
  height: 60px;
  font-size:25px;
  width: 70%;
}

input {
  height: 60px;
  font-size:25px;
  width: 50%;
}

textarea:focus, input:focus{
    outline: 0;
}

.form-sign-up {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  margin-bottom: 100px;
  padding-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
  padding-top: 20px;
}

.form-sign-up input {
  height: 60px;
  font-size:25px;
  width: 70%;
}

.form-sessions {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  margin-bottom: 100px;
  padding-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
  padding-top: 20px;
}

.form-sessions input {
  height: 60px;
  font-size:25px;
  width: 70%;
}

/* typography */

h1 {
  text-align: center;
  color: white;
}

h1.left {
  width: 0px;
  padding-left: 20px;
}

h1.left a {
  color: white;
}

/* user profile */

.profile {
  margin-left: 10%;
  margin-right: 10%;
}

.main {
  height: 10%;
  border-bottom: 5px solid gray;
}

.main h1 {
  color: black;
  float: left;
}

.left_section {
  width: 19%;
  float: left;
  height: 100%;
  padding-top: 10px;
}

.right_section {
  width: 80%;
  float: left;
  padding-top: 10px;
}

span.best-answer {
  background: pink;
}

li.no-bullets {
  list-style: none;
}
